<div>
    <h1>Hola {{name}}, como andas?</h1>
    <h1>El carrito numero {{id}}</h1>
    <p>-----------------------</p>
    {{#each renderProducts}}
        <div>
            <p>Producto: {{this.name}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            <p>-----------------------</p>
        </div>
    {{/each}}
    
</div>